* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(0, 29, 61);
    --main-text-color: rgba(255, 255, 255, 1);
    --main-font: 'Ysabeau', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: var(--main-text-color);
    background-color: var(--bg-color);
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 29, 61);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 41, 85);
}